.fivemain {
  text-align: center;
  width: 30%;
}

.date {
  font-weight: bold;
  font-size: 20px;
}

.detail {
  font-size: 10px;
}

.te {
  font-size: 17px;
}

.tt {
  font-size: 30px;
  margin-bottom: 0px;
}

.five {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 50px;
}

.oo {
  padding-left: 60px;
  margin-bottom: 50px;
}
